/* change bg colour & remove white border/margin */
body{
    background-color: #ffffff;
    margin: 0px;
}
/* apply Google font to all text */
h1, h2, h3, h4, h5, h6, p, figcaption, li, textarea, form input{
    font-family: "Outfit", sans-serif;
}
/* change size of header & footer logo */
#header div a img, #footer div a img{
    width: 250px;
    height: auto;
    padding: 20px 20px 20px 100px; /* top, right, bottom, left */
}
#header, #footer{
    background-color: #40cccc;
    padding: 10px;
    height: 100px;
    display: flex;
    align-items: center;
}
#header div{
    flex-grow: 1;
}
/* adjust menu location */
#header nav menu{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 80px;
}
#header nav menu li{
    padding: 10px 30px;
}
#header nav menu li a{
    color: #ff0080;
    text-decoration: none;
    font-size: 25px;
}
/* adjust footer social media icons */
#footer .sns-icons a img{
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 10px;
}
/** HOMEPAGE (index.html) **/
.home-masthead img{
    width: 100%;
    height: auto;
}
.home-main{
    width: 75%;
    align-items: left;
}
.about, .history{
    font-size: 20px;
    padding: 20px 100px;
}
.about{
    text-align: left;
}
.history{
    text-align: right;
}
.characters{
    text-align: center;
}
.video{
    text-align: center;
}
.home-aside{
    display: flex;
    width: 25%;
    /*padding: 2% 0%;*/
    background-color: #fff5c6;
}

/***********************************/
.home-aside article{
    width: 90%; /* 90% of 25% */
    
    text-align: center;
}
.home-aside article figure{
    width: 100%;
    height: auto;
    margin: 0px;
}
.home-aside article figure img{
    width: 100%;
    height: auto;
}
/***********************************/


/** ABOUT PAGE (about.html) **/
.bandai-logo-container img, .characters img{
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.bandai-team{
    background-color: #efcf5b;
}
.bandai-team img, .bandai-team figcaption{
    width: 50%;
    height: auto;
    display: flex;
    align-items: left;
}

/** SHOP PAGE (shop.html) **/
/**
.products-row {
    
    
    display: flex;
    align-items: center;
    display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.products-row figure a img{
    width: 25%;
    height: auto;
}
**/
.shop-main > section{
    display: flex;
    padding: 2%;
    align-items: center;
}
.shop-main > section > div{
    width: 50;
    padding: 10px;
}
.shop-main > section > div > img{
    width: 100%;
    height: auto;
}

/***********************************/
.products-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.products-column {
    flex: 50%;
    padding: 0 4px;
}
  
.products-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100px;
}
/***********************************/

/** PRODUCT PAGES **/
.product-div img{
    display: flex;
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
}
.product-text p{
    display: flex;
    justify-content: right;
}


/** CONTACT PAGE (contact.html) **/
.contact-info, .contact-form{
    text-align: center;
}
.contact-info{
    background-color: #c7f2ff;
    display: block;
    margin: auto;
    width: 35%;
    margin: autp;
    text-align: center;
    font-size: 25px;
    border-style: double;
    border-width: 20px;
    border-color: #245484;
}
.contact-form p{
    font-size: 25px;
    padding: 5px 0px;
    margin: 0px;
}
.line{
    border-color: #40cccc;
}