/* change bg colour & remove white border/margin */
body{
    background-color: #ffffff;
    margin: 0px;
}
/* apply Google font to all text */
h1, h2, h3, h4, h5, h6, p, figcaption, li, textarea, form input, button{
    font-family: "Outfit", sans-serif;
}
/* change size of header & footer logo */
#header div a img, #footer div a img{
    width: 250px;
    height: auto;
    padding: 20px 20px 20px 100px; /* top, right, bottom, left */
}
#header, #footer{
    background-color: #40cccc;
    padding: 10px;
    height: 100px;
    display: flex;
    align-items: center;
}
#header div{
    flex-grow: 1;
}
/* adjust menu location */
#header nav menu{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 80px;
}
#header nav menu li{
    padding: 10px 30px;
}
#header nav menu li a{
    color: #ff0080;
    text-decoration: none;
    font-size: 25px;
}
/* adjust footer social media icons */
#footer .sns-icons a img{
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 10px;
}
/** HOMEPAGE (index.html) **/
.home-masthead img{
    width: 100%;
    height: auto;
}
.home-main{
    width: 100%;
    align-items: left;
}
.about{
    text-align: left;
}
.history{
    text-align: right;
}
.vintage-era, .color-era{
    text-align: left;
}
.connection-era{
    text-align: right;
}
.about, .history, .vintage-era, .connection-era, .color-era{
    font-size: 20px;
    padding: 20px 100px;
}
.about h1, .history h1{
    color: #ff0080;
    text-decoration: underline;
}
.vintage-era h3, .connection-era h3, .color-era h3{
    color: #40a9ee;    
}
/* align images */
.about img, .vintage-era img, .connection-era img, .color-era img{
    width: 50%;
    height: auto;
    
    border-style: dotted;
    border-radius: 10px;
    border-width: 5px;
}
.about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.vintage-era img, .color-era img{
    display: flex;
    align-items: left;
}
.about img{
    border-color: #ff0080;
}
.vintage-era img, .connection-era img, .color-era img{
    border-color: #40a9ee;
}
.video{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

/** ABOUT PAGE (about.html) **/
.about-company h1{
    font-size: 35px;
    text-align: center;
}
.about-company h2{
    font-size: 30px;
}
.about-company h4{
    font-size: 25px;
}
.about-company blockquote{
    text-align: center;
    background-color: #ed0000;
    padding: 30px 120px;
    margin: 0px;
}
.bandai-logo-container img, .characters img{
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.bandai-team{
    background-color: #efcf5b;
    display: flex;
    align-items: center;
}
.bandai-team img, .bandai-team figcaption{
    width: 50%;
    height: auto;
    display: flex;
    align-items: left;
}

/** SHOP PAGE (shop.html) **/
.shop-main > section{
    display: flex;
    padding: 2%;
}
/* align products title */
.shop-main section h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
}
/* align product images as a grid */
.products-row{
    display: flex;
    margin: auto;
}
.products-column{
    width: 50%;
}
/* align name of product vertically with product img */
.products-column figure, .bandai-team figure{
    border-style: dashed;
    vertical-align: middle;
    text-align: center;
}
.products-column figure figcaption{
    font-size: 20px;
}
.products-column img{
    height: 300px;
    width: auto;
}

/** PRODUCT PAGES **/
/* display image and product info side by side */
.product-title{
    display: block;
    justify-content: center;
    padding-left: 15%;
    margin: 0px;
    background-color: #ff0080;
    width: 500px;
}
.product-title h1{
    text-align: left;
    font-size: 30px;
}
.product-content{
    display: flex;
    align-items: top;
    padding: 0px 15% 1.5% 15%;
}
.product-content div h4{
    font-size: 30px;
}
.product-content img{
    width: 50%;
    height: auto;
}
.back-button{
    margin: auto;
    width: 60%;
    display: flex;
    align-items: center;
    padding: 20px;
}
.back-button a{
    text-decoration: none;
}
.back-button button{
    padding: 0px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #d6f6ff;
    border-color: #40a9ee;
}
/* resize arrow img in button */
.back-button img{
    width: 80px;
}

/** CONTACT PAGE (contact.html) **/
.contact-info, .contact-form{
    text-align: center;
}
.contact-info{
    background-color: #91f7f7;
    display: block;
    margin: auto;
    width: 35%;
    margin: autp;
    text-align: center;
    font-size: 25px;
    border-style: double;
    border-width: 20px;
    border-color: #40a9ee;
}
.contact-form p{
    font-size: 25px;
    padding: 5px 0px;
    margin: 0px;
}
.line{
    border-color: #40cccc;
}